* {
    padding: 5px;
    box-sizing: border-box;
}

body {
    background-image: url(static.GIF);
    font-size: 30px;
    font-family: 'Courier New';
    font-weight: bolder text-align: center;
    color: #333034;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #c3e7c1;
    border-style: solid;
    border-width: 10px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0 100% 0 10;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 50%;
    font-weight: bold;
}

.leftheader {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}

ul li {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

ul li:hover {
    transform: scale(1.1);
}

img {
    background-color: #333034;
    border-radius: 20px;
    padding: 5px;
}

.rightheader {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-items: right;
    padding: 0 0 0 650px;
    border-radius: 50%;
}

.rightheader ul {
    background-color: #333034;
    border-radius: 20px;
    padding: 0;
}

.main {
    background-color: #fef8a2;
    border-style: solid;
    border-width: 10px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    text-align: center;
    display: flex;
    padding: 3em 0 3em 0;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1000px;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    height: 700px;
    padding: 1em;
    display: flex;
    gap: 0.5em;
}

.col1 {
    flex: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.row11 {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row11title {
    flex: 1;
    background-color: #8678b3;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 63.2%;
    font-weight: bold;
    4;
}

.row11caption {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #333034;
    font-size: 20px;
}

img {
    border-radius: 20px;
}

.row21 {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 2px;
}

.row21title {
    flex: 1;
    background-color: #8678b3;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 63.2%;
    font-weight: bold;
}

.row21caption {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #333034;
    font-size: 20px;
}

.row31 {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 2px;
}

.row31title {
    flex: 1;
    background-color: #8678b3;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 63.2%;
    font-weight: bold;
}

.row31caption {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #333034;
    font-size: 20px;
}

img {
    border-radius: 20px;
}

.col2 {
    flex: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row12 {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row12caption {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-radius: 20px;
    color: #333034;
    font-size: 20px;
    border-radius: 20px;
}

.row22 {
    flex: 2;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 2px;
}

.row22title {
    flex: 1;
    background-color: #8678b3;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 63.2%;
    font-weight: bold;
}

.row22caption-1 {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    color: #333034;
    font-size: 20px;
}

img {
    border-radius: 20px;
}

.row22caption-2 {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #333034;
    font-size: 20px;
}

img {
    border-radius: 20px;
}

.row32 {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 2px;
}

.row32title {
    flex: 1;
    background-color: #8678b3;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 63.2%;
    font-weight: bold;
}

.row32caption {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #333034;
    font-size: 20px;
}

.col3 {
    flex: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.row13 {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row13title {
    flex: 1;
    background-color: #8678b3;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 63.2%;
    font-weight: bold;
    4;
}

.row13caption {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #333034;
    font-size: 20px;
}

.row23 {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 2px;
}

.row23title {
    flex: 1;
    background-color: #8678b3;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 63.2%;
    font-weight: bold;
}

.row23caption {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #333034;
    font-size: 20px;
}

img {
    border-radius: 20px;
}

.row33 {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 2px;
}

.row33title {
    flex: 1;
    background-color: #8678b3;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 63.2%;
    font-weight: bold;
}

.row33caption {
    flex: 4;
    background-color: #dcbac7;
    border-style: solid;
    border-width: 2px;
    border-color: #333034;
    box-shadow: 2px 4px #918392;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #333034;
    font-size: 20px;
}

img {
    border-radius: 20px;
}

.footer {
    background-color: #c3e7c1;
    border-style: solid;
    border-width: 10px;
    border-color: #333034;
    box-shadow: 5px 10px #918392;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.footer ul {
    list-style: none;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    gap: 20px;
    padding: 0 0 0 400px;
}

ul li {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

ul li:hover {
    transform: scale(1.1);
}

ul li {
    font-size: 20px;
    padding: 0;
    gap: 20px;
}

@meadia and all(max-width: 550px) {
    .main {
        flex-direction: column;
    }

    main {
        padding: 5em 0 5em 0;
    }